@charset "utf-8";

.index_more{
  position: absolute;
  /*height: 100%;*/
  overflow: hidden;
  padding-bottom: 200px;
  width: 100%;
  .index_chunk{ 
    position: relative;
    top:120px;
    left: 19%;
    margin: 0;
    width: 78%;
    background:#fff;
    padding: 40px 70px 55px;
    border-radius: 4px;
    box-shadow: 0px 20px 20px -20px #ddd;
  }
}
.btn_search{
  padding: 7px 20px;
  margin: 0 3px;
  background: #327BFB;
  border-radius: 5px;
  color: #fff;
}
.form-inline .form-group{
  margin: 6px 0;
}