@charset "utf-8";

.step_more{padding: 250px 60px 50px;background: #f6f7fb;}
.step_chunk{ background:#fff; padding: 40px 40px 55px;border-radius: 4px; box-shadow: 0px 20px 20px -20px #ddd;}
.fc{color: #4786ff; border-bottom: 1px solid #4786ff; margin-left: 10px; margin-right: 10px;}
.iw {
  width: 300px;
}
.iw600 {
  width: 600px;
}
.label_height {
  line-height: 25px;
}
.imb {
  margin-bottom: 60px;
}