@charset "utf-8";

.step_more{padding: 250px 60px 50px;background: #f6f7fb;}
.step_chunk{background:#fff; padding: 40px 40px 55px;border-radius: 4px; box-shadow: 0px 20px 20px -20px #ddd;}
.step_zccg{padding: 7% 0;}