@charset "utf-8";

.step_head {
  height: 80px;
  background-color: #fff;
  padding: 10px;
}
.step_title_logo {
  margin-left: 60px;height: 60px; float: left;
}
.step_title {
  float: left;margin-left: 20px;
}