@charset "utf-8";

.step_more{    padding: 250px 60px 50px;background: #f6f7fb;}
.step_chunk{ background:#fff; padding: 40px 40px 55px;border-radius: 4px; box-shadow: 0px 20px 20px -20px #ddd;}
small {
  position: absolute;    top: 40px;
    left: 105px;color: #999999;
}
.jg {
  position: relative;height: 90px;
}
.input-w-250 {
  width: 320px;
  height: 35px;
  line-height: 35px;
  border-radius: 20px;
  background: #f7f7f7; border:none;
  display: inline;
}
.input-w-175 {
  width: 180px;
  height: 27px;
  height: 35px;
  line-height: 35px;
  border-radius: 20px;
  background: #f7f7f7; border:none;
  display: inline;
}
.btn-success, .btn-success:focus {
  background: rgb(1, 200, 83);
  width: 350px;
}

.btn-verification-code {
    position: absolute;
    right: 0px;
    width: 150px;
    margin: auto;
    color:#4585ff;
    background: #dbe7ff;
}