@charset "utf-8";

@keyframes move_wave {
    0% {
        transform: translateX(0) translateZ(0) scaleY(1)
    }
    50% {
        transform: translateX(-25%) translateZ(0) scaleY(0.55)
    }
    100% {
        transform: translateX(-50%) translateZ(0) scaleY(1)
    }
}
.waveWrapper {
    overflow: hidden;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    margin: auto;
}
.waveWrapperInner {
    position: absolute;
    width: 100%;
    overflow: hidden;
    height: 560px;
    top: -1px;
    background-image: linear-gradient(to right,  rgb(73,43,253) , rgb(51,141,255)); /* 标准的语法 */
}
.waveWrapperInner.bgTop {
    z-index: 15;
    opacity: 0.5;
}
.waveWrapperInner.bgMiddle {
    z-index: 10;
    opacity: 0.75;
}
.waveWrapperInner.bgBottom {
    z-index: 5;
}
.wave {
    position: absolute;
    left: 0;
    width: 200%;
    height: 100%;
    background-repeat: repeat no-repeat;
    background-position: 0 bottom;
    transform-origin: center bottom;
}
.waveTop {
    background-size: 50% 100px;
}
.waveMiddle {
    background-size: 50% 120px;
}
.waveBottom {
    background-size: 50% 100px;
}
.waveAnimation .waveTop {
  animation: move-wave 3s;
   -webkit-animation: move-wave 3s;
   -webkit-animation-delay: 1s;
   animation-delay: 1s;
}
.waveAnimation .waveMiddle {
    animation: move_wave 10s linear infinite;
}

.waveAnimation .waveBottom {
    animation: move_wave 15s linear infinite;
}

.container {
  z-index: 999;
  .header {
    padding-top: 70px;
    .logo {
      padding-right: 30px;
      color: #fff;
      p {
        line-height: 25px; margin-top: 20px;
      }
    }
    .login {
        background: #fff;height: 350px;width: 410px;border-radius: 12px;overflow: hidden;
        margin-left: 150px;
        .title {
          height:60px;line-height:60px;background:#f5f9fc;
          margin: 0;
        }
        
        .account {
          .checkbox {
            vertical-align: middle;
            margin-right: 5px;
          }
          padding: 10px;
        }
    }
  }
}
.login .input:focus {
    outline: 0 none;
}
.login .input {
  width: 100%;
  padding: 7px;
  vertical-align: middle;
  border: 0 none;
  color: #000000;
  background: #fff;
  font-size: 17px;
}
.placeholder {
    color: #999;
}

.btn {
    font-size: 12px;
    width: 180px;
    border: 1px solid transparent;
    border-radius: 25px;
    color: #fff;
    background-color: rgba(73,43,253,0);
    border-color: rgba(255,255,255,0.7);
}

.announcement {
  margin-top: 200px;
  background: #f5f9fc; padding: 18px 28px;border-radius: 6px;
}

.seeDetails {
  margin-top: 80px;text-align: center;
  h4{ color: #505050; margin: 30px 0 20px 0;}
  p{ padding:0 30px; line-height: 25px; color: #666666;}
}
.seeDetailsLogo3 {
  display: inline-block;width: 60px;height: 60px;border-radius: 30px;background-color: #fedfe5;padding-top: 15px;text-align: center;
}
.seeDetailsLogo2 {
  display: inline-block;width: 60px;height: 60px;border-radius: 30px;background-color: #fff0db;padding-top: 15px;text-align: center;
}
.seeDetailsLogo1 {
  display: inline-block;width: 60px;height: 60px;border-radius: 30px;background-color: #d8e6ff;padding-top: 15px;text-align: center;
}

.lFooter {
  margin-top: 90px;height: 80px; background: #f5f9fc; line-height: 80px;
  a{ color: #666666;padding-right: 15px}
  small {
    color: rgb(153, 153, 153)
  }
}
#login_btn_wraper .tips_error {
    display: block;
}
#login_btn_wraper .tips_success {
    display: block;
    color: #4fc1ad;
}
#login_btn_wraper {
    text-align: center;
}

.login ul, .login li {
    padding: 0;
    margin: 0;
    list-style: none;
}
.login ul {
    background: #fff;
    overflow: hidden;
    margin-bottom: 15px;
    width: 350px;
    margin: auto;
    overflow: hidden;
    padding: 15px 0;
}
.logo_yzm li {
    width: 50%;
    float: left;
    border: none !important;
}
.logo_yzm {
    border-bottom: 1px solid #efefef;
    padding: 0 !important;
}
.login li {
    border-bottom: 1px solid #efefef;
    height: 50px;
    line-height: 50px;
}
.login .verifycode-wrapper {
    padding:5px 0;
    text-align: right;
}
.login li img {
    vertical-align: top;
    padding-top: 4px;
}
.login .input {
    width: 100%;
    padding: 7px;
    vertical-align: middle;
    border: 0 none;
    color: #000000;
    background: transparent;
    font-size: 14px; 
}

.js-ajax-submit {
    width: 350px;
    margin:10px auto;
    padding: 8px;
    color:#fff;
    background: rgb(1, 200, 83);
}
.ckxq {
    width: 130px;
    margin:20px auto;
    color:rgb(1, 200, 83);
    border-color: rgb(1, 200, 83);
}
.ckxq:hover{background:rgb(1, 200, 83); color: #fff;}